# En prod : tout passe par l'API Gateway Nginx (port 8080).
# En dev local sans Nginx : pointer directement vers chaque microservice.
VITE_AUTH_URL=http://localhost:3001
VITE_TONTINE_URL=http://localhost:3002
VITE_NOTIFY_URL=http://localhost:3003
